.NavBar {
    background-color: #234E70;
    width: 100%;
}

.NavLink {
    vertical-align: middle;
    height: auto;
    padding: 5px;
    color: #FBF8BE;
}



.Active {
    color: white;
}

.Nav {
    vertical-align: middle;
}

