.NavBar {
    background-color: #234E70;
    width: 100%;
    justify-content: center;
}

.NavLink {


    color: #FBF8BE;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}


.Active {
    color: white;
}



