.NavBar {
  background-color: #234e70;
  width: 100%;
  justify-content: center;
}

.NavLink {
  color: #fbf8be;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

.Active {
  color: white;
}

@media screen and (max-width: 1000px) {
  .NavLink {
    font-size: 1.3rem;
  }
}
