.Post {
    background-color: #fff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    color: #234E70;
  }

.PostBar {
    text-align: right;
}

i {
    font-size: 150%;
}

.ticked {
    font-size: 300%;
    color: green;
}
.CantCheck:hover {
    color: red;

}

.tick {
    color: black;
  }
  
  .tick:hover {
    color: greenyellow;
    font-size: 250%;
  }

.Count {
    font-size: 125%;
    padding: 5px;
}

.Official {
  font-family: 'League Gothic';
  color: blue;
  font-size: 125%;
}